.emojis-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 4;
  overflow: hidden;
}

.emoji-drop {
  position: absolute;
  top: -50px;
  animation: fall linear;
  pointer-events: none;
  user-select: none;
}

@keyframes fall {
  to {
    transform: translateY(calc(100vh + 50px)) rotate(360deg);
    opacity: 0;
  }
}

